
  .card-container{
    position: relative;
    width: 350px;
    height: 420px;
  }

  .card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }

  .card:hover{
    transform: rotateY(180deg);
    transition-duration: 1s;
  }

  .card-front {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
    background-color: #363636;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #363636;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  .card-img{
    justify-self: center;
    align-self: center;
    width: 100%;
  }
  
  .card-name{
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 18px;
  }
  
  .card-details{
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 35px;
    margin: 10px;
  }

  @media (max-width: 480px) {

    .card-container {
      width: 100%;
      height: 420px;
    }

    .card {
        grid-template-rows: 2fr 0.3fr;
    }

    .card-img{
      width: 100%;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .card-container {
      width: 100%;
      height: 300px;
    }

    .card-details{
      color: white;
      font-size: 16px;
      line-height: 30px;
      margin: 5px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {

    .card-container {
      width: 100%;
      height: 350px;
    }

    .card {
        grid-template-rows: 2fr 0.3fr;
    }

    .card-img{
      width: 100%;
    }
  }