html {
  height: 100%;
  width: 100%;
  background: no-repeat linear-gradient(to bottom, #1c1c1c 40%, #39b54a 150%) fixed;
  background-size: cover;
}

.App {
  text-align: center;
}

.header-container{
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-template-areas: ". logo .";
}

.logo {
  align-items: center;
  justify-content: center;
  grid-area: logo;
  pointer-events: none;
  width: 15vw;
}

.navigation-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

.search-section {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-template-areas: ". bar .";
}

.search-container {
  height: 100px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-area: bar;
}

.search-bar{
  height: 40px;
  color: black;  
  text-align: left;
  cursor: pointer;
  display: block; 
  letter-spacing: 2px;        
  word-spacing: 2px;    
  font-size: 14px;
  padding-left: 10px;
}

.search-button{
  height: 40px;
  background-color: #39b54a;
  color: white;
  border: none;

}

.character-container {
  display: grid;
  grid-template-columns: minmax(200px, 350px) minmax(200px, 350px) minmax(200px, 350px) minmax(200px, 350px);
  justify-content: center;
  align-items: center;
  margin: 3%;
  row-gap: 50px;
  column-gap: 3%;
}

.card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.5fr;
  background-color: #363636;
  height: 100%;
  width: 100%;
}

.card:hover .card{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  grid-template-rows: 1fr;
  transition: 2s;
  z-index: 999;
}

.card-img{
  justify-self: center;
  align-self: center;
  width: 100%;
}

.card-name{
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 18px;
}

.card-details{
  color: white;
}

.error{
  color: #ff0033;
}

.hidden {
  visibility: hidden;
}

/* Mobile devices */
@media (max-width: 480px) {
    .logo {
      width: 20vh;
    }

    .search-section {
      grid-template-areas: "bar bar bar";
      margin: 0 5%;
    }

    .search-container{
      height: 80px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .search-button{
      display: none;
    }

    .character-container {
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 5%;
      margin: 0 5%;
    }

    .card {
        grid-template-rows: 2fr 0.3fr;
    }

    .card-img{
      width: 100%;
    }
}

/* Small tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .logo {
    width: 15vh;
  }

  .search-section {
    grid-template-areas: "bar bar bar";
    margin: 0 6%;
  }

  .search-container{
    height: 60px;
    grid-template-rows: 1fr;
  }

  .character-container {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
  }

  .card {
      grid-template-rows: 2fr 0.3fr;
  }

  .card-img{
    width: 25vw;
  }
}

/* Large tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 15vh;
  }

  .search-section {
    margin: 0 5.5%;
    grid-template-areas: "bar bar bar";
  }

  .search-container{
    height: 60px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }

  .character-container {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
  }

  .card {
      grid-template-rows: 2fr 0.3fr;
  }

  .card-img{
    width: 25vw;
  }
}

/* Large screens(laptops, monitors, tv) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .logo {
    width: 15vh;
  }

  .search-section {
    margin: 0 4%;
    grid-template-areas: "bar bar bar";
  }

  .search-container{
    height: 60px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }

  .character-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5%;
    margin: 2% 4%;
  }

  .card {
      grid-template-rows: 2fr 0.3fr;
  }

  .card-img{
    width: 100%;
  }
}

/* Buttons design */

.center{
  display: flex;
  justify-content: center;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #39b54a;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 22px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #206629;
  background-color:  #39b54a;
  box-shadow: 0 0 10px #39b54a, 0 0 40px #39b54a;
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #39b54a);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #39b54a);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #39b54a);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(4) {
  top: 100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #39b54a);
}

a:hover span:nth-child(4) {
  top: -100%;
  transition: 1s;
  transition-delay: 0.75s;
}